<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<header class="p-3 text-bg-dark" th:fragments="header" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><span sec:authorize="permitAll"><a href="/" class="nav-link px-2 text-white">Főoldal</a></span></li>
        <li><span sec:authorize="permitAll"><a href="/program" class="nav-link px-2 text-white">Moziműsor</a></span></li>
        <li><span sec:authorize="isAnonymous()"><a href="/login" class="nav-link px-2 text-white">Belépés</a></span></li>
        <li><span sec:authorize="isAnonymous()"><a href="/register" class="nav-link px-2 text-white">Regisztráció</a></span></li>
        <li><span sec:authorize="isAuthenticated()"><a href="/" class="nav-link px-2 text-white">Kijelentkezés</a></span></li>
        <li><span sec:authorize="permitAll"><a href="/connection" class="nav-link px-2 text-white">Kapcsolat</a></span></li>
        <li><span sec:authorize="permitAll"><a href="/messages" class="nav-link px-2 text-white">Üzenetek</a></span></li>
        <!-- ><li><span sec:authorize="isAuthenticated()"><a href="/connection" class="nav-link px-2 text-white">Kapcsolat</a></span></li>
         <li><span sec:authorize="hasRole('ROLE_ADMIN')"><a href="/messages" class="nav-link px-2 text-white">Üzenetek</a></span></li> -->
      </ul>
    </div>

  </div>
  <span class="badge text-bg-primary rounded-pill">Primary</span>
</header>