<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="Hu">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/styles/css/bootstrap.min.css}" rel="stylesheet" />
  <title>INDEX</title>
</head>
<header th:replace="~{header}"> </header>
<div class="container"></div>
<body>
<div class="container">
  <h1>Regisztráció</h1>
  <form action="#" th:action="@{/register_send}" th:object="${register}" method="post">
    <p><input type="text" th:field="*{name}" placeholder="Felhasználónév: " required/> </p>
    <p><input type="text" th:field="*{email}" placeholder="E-mail cím: " required/> </p>
    <p><input type="text" th:field="*{password}" placeholder="Jelszó: " required/> </p>
    <p><input type="submit" value="Regisztráció" /></p>
  </form>
</div>
</body>
<footer th:replace="~{footer}"> </footer>
</html>